<tr>
  <td class="task" id=<%=task.id%>>
  
  	<%if task.is_done-%>
  	<span class="img_done">
  		<%=	if (current_user?task.list.user)
  			link_to done, list_task_not_done_path(task.list, task) ,:method=>:post ,:class=>"done", remote: true
  		else
  			done
  		end-%>
  		</span>
  		
  	<%else-%>  	
  	<span class="img_done">
  		<%= if (current_user?task.list.user)
  			link_to not_done, list_task_done_path(task.list, task),:method=>:post, :class=>"done", remote: true
  		else
  			not_done
  		end-%>
  		</span>   	
  	<%end-%>
  	
	<span class="content"><%= task.content -%>   </span>	
    	<%= if (current_user?task.list.user)
    			link_to del,list_task_path(task.list,task),:method => :delete 
  			end-%></span>    	
    <span class="timestamp">
      Posted <%= time_ago_in_words(task.created_at) -%> ago.
    </span>
  </td>
</tr>