<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %><br/>        <br />
      	<%=link_to "Списки пользователя", url_for(:controller=>"lists",:action=>"index",:user_id=>@user.id) %>
      </h1>
    </td>
    <td class="sidebar round">
      <strong>Имя:</strong> <%= @user.name %><br />
      <strong>ID пользователя:</strong>  <%=@user.id %><br />
      <strong>Количество списков:</strong> <%= @user.lists.count %>
    </td>
  </tr>
</table>