<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
      	<%if !@user.url_for_vk_photo_medium.nil?%>
        <%=image_tag(@user.url_for_vk_photo_medium,width:100) %>
        <%end%>
        <%= @user.name %><br/>        <br />
      	<%=link_to "Списки пользователя", url_for(:controller=>"lists",:action=>"index",:user_id=>@user.id) %>
      </h1>
    </td>
    <td class="sidebar round">
      <strong>Имя:</strong> <%= @user.name %><br />
      <strong>ID пользователя:</strong>  <%=@user.id %><br />
      <strong>Количество списков:</strong> <%= @user.lists.count %>
      <%if @user.id==current_user.id%>
      <strong><%= link_to "Настройки профиля", edit_user_path(current_user) %></strong>
      <%end%>
    </td>
  </tr>
</table>