<%= form_for @task do |f| %>
  <div class="field">
    <%= f.text_area :content %>
  </div>
    <span class="field">
    <%= f.label :is_done %><br />
    <%= f.check_box :is_done %>
  </span>
  <div class="actions">
    <%= f.submit "Отправить" %>
  </div>
<% end %>